# Icon Assignment PDAL udev-rules file
#
# This rules define defaults icons for devices
# This rules are based on udev-notiy https://code.launchpad.net/~skss/udev-notify/udev-notify
#


ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="cd", ENV{DEVTYPE}=="disk", ENV{ICON}="media-optical", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="usb", ENV{ID_MEDIA_PLAYER}=="[a-z]*", ENV{DEVTYPE}=="usb_device", ENV{ICON}="multimedia-player", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", ENV{DEVTYPE}=="disk", ENV{ID_TYPE}=="disk", \
ENV{ID_DRIVE_FLASH_MS}=="1", ENV{ICON}="gnome-dev-media-ms", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SM}=="1", ENV{ICON}="gnome-dev-media-sm", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \ 
ENV{ID_DRIVE_FLASH_CF}=="1", ENV{ICON}="gnome-dev-media-cf", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="mmc", ENV{ICON}="gnome-dev-media-mmc", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="memstick", ENV{ICON}="gnome-dev-media-ms", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SD}=="1", ENV{ICON}="gnome-dev-media-sdmmc", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ID_DRIVE_FLASH_SM}=="1", ENV{ICON}="drive-removable-media", GOTO="icon_assignment"

ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", ENV{ID_BUS}=="usb", \
ENV{ICON}="drive-removable-media-usb", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="net", ENV{DEVTYPE}=="wlan", ENV{ICON}="network-wireless", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="video4linux", ENV{ICON}="camera-web", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_MOUSE}=="1", ENV{ICON}="mouse", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_JOYSTICK}=="1", ENV{ICON}="joystick", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="sound", ENV{ID_TYPE}=="sound", ENV{ICON}="sound", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_BUS}=="usb", ENV{ICON}="modem", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="cdc_acm", ENV{ICON}="modem", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="ipaq", ENV{ICON}="pda", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="input", ENV{ID_TYPE}=="hid", ENV{ID_INPUT_KEYBOARD}=="1", ENV{ICON}="gnome-dev-keyboard", GOTO="icon_assignment"

ACTION=="add", ENV{DEVTYPE}=="usb_device", ENV{ID_GPHOTO2}=="1", ENV{ICON}="camera-photo", GOTO="icon_assignment"

ACTION=="add", SUBSYSTEM=="net", ENV{ID_BUS}=="usb", ENV{ICON}="network-wired", GOTO="icon_assignment"


LABEL="icon_assignment"


ACTION=="add", SUBSYSTEMS=="usb", ENV{DEVTYPE}=="usb_device", \
    ENV{PDAL_TAG}!="1", \
    ENV{PDAL_TAG}="1", \
	RUN+="/usr/bin/pdal -p /sys$devpath -m on"


ACTION=="remove", SUBSYSTEMS=="usb", ENV{DEVTYPE}=="usb_device", \
    ENV{PDAL_TAG}!="1", \
    ENV{PDAL_TAG}="1", \
	RUN+="/usr/bin/pdal -p /sys$devpath -m off"


